<header class="border-bottom border-2 border-primary-subtle">
  <div class="container">
    <nav class="navbar navbar-expand">
      <h2>APIs App</h2>
      <div class="navbar-nav ms-auto">
        <a
          class="nav-link fs-4 me-4"
          href="/"
          >Home</a
        >
        <a
          class="nav-link fs-4 me-4"
          href="/weather"
          >Weather</a
        >
        <a
          class="nav-link fs-4"
          href="/quotes"
          >Quotes</a
        >
      </div>
    </nav>
  </div>
</header>
